.footer {
  background: #000;
  color: white;
  padding: 50px 20px 20px;
  border-top: 1px solid rgba(212, 175, 55, 0.2);
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.footer-section h3 {
  color: #d4af37;
  margin-bottom: 15px;
}

.footer-section p {
  display: flex;
  align-items: center;
  gap: 8px;
}
.footer-section li {
  font-size: 14px;
  color: #ccc;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-section li:hover,
.footer-section a:hover {
  color: #d4af37;
}

.logo img {
  width: 140px;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  color: #777;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 20px;
}
.footer-section svg {
  margin-right: 8px;
  color: #d4af37;
}
.footer-section a {
  color: #ccc;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
}
.footer-section a:hover {
  color: #d4af37;
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr; /* uma coluna só */
    text-align: center;
    gap: 30px;
  }

  .footer-section {
    align-items: center;
  }

  .footer-section ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .footer-section p {
    justify-content: center;
  }
  .logo img {
    width: 110px;
  }
}
