.product-section {
  background: linear-gradient(to bottom, #000 0%, #000 100%);
  padding: 80px 20px;
  text-align: center;
  color: white;
  margin-top: -80px;
}

.section-title {
  font-size: 32px;
  margin-bottom: 50px;
  color: white;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(20, 20, 20, 0.9);
  border-radius: 20px;
  padding: 20px 15px;
  text-align: center;

  backdrop-filter: blur(10px);

  box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.4),
    inset 1 1px 0 rgba(255, 242, 0, 0.6);

  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-8px);
  box-shadow:
    0 15px 30px rgba(0, 0, 0, 0.8),
    0 0 20px rgba(212, 175, 55, 0.6);
}

.product-card img {
  width: 100%;
  height: 260px;
  object-fit: contain;
  border-radius: 12px;
  display: block;
  margin: 10px auto 15px;
}

.product-card h3 {
  color: #e4bd3f;
  font-size: 20px;
  margin-bottom: 10px;
  height: 40px;
  overflow: hidden;
}

.price {
  font-size: 24px;
  font-weight: bold;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5px 0;
}

.btn {
  font-size: 12px;
  padding: 8px;
  border: 1px solid #d4af37;
  background: transparent;
  color: #d4af37;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.btn:hover {
  background: #d4af37;
  color: #000;
  box-shadow: 0 10px 25px rgba(212, 175, 55, 0.5);
}
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0 10px;
  }
  .product-card img {
    height: 200px;
  }
  .product-card h3 {
    font-size: 15px;
    height: 34px;
  }
  .price {
    font-size: 18px;
  }
}
